@charset "UTF-8";

*{
	margin:0; 
	padding:0;
}

a{
	color:#ffffff;
	text-decoration: none;
}

#header{
	height: 80px;
	text-align: center;
	width: 100%;
	line-height: 80px;
	background-color: #000000;
	color:#ffffff; 
}

#nav{
	background-color:#13223D;
	color:#ffffff;
	width:100%;
	height:40px;
	line-height: 40px;
}
#nav ul li a{
	float:left;
	padding:0 10px;
}

ul li{
	list-style:none;
}

.section{
	width:100%;
	height:100%;
	background-color:#E5E5E5;
	position:fixed;
		overflow: scroll;
}

.section h2{
	padding:20px 0;
	text-align:center;
}

.section p{
	padding:10px;
}


#footer{
	width:100%;
	height:30px;
	background-color:#13223D;
	text-align:center;
	line-height:30px;
	font-size:11px;
	position:absolute;
	bottom:0;
	color:#ffffff;
}


.table_line{
	margin:0 auto;
	overflow-y : auto;
	border : 1px solid gray;

}

.table_line th, .table_line td{
	border : 1px solid gray;
	padding : 5px;

}

.table_line .center td{
	text-align:center;
}
